/*PreWork*/
:root{
    --color-fondo:#5C89E0;
    --color-letras-blanco: #EFEFEF;
    --color-letras-negro: #393838;
    --color-boton-seleccionado:#CCD9F2;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
    font-family: 'Roboto';
    background: linear-gradient(117.41deg, #5E6EF7 23.19%, #4776E6 44.95%, #8E54E9 86.18%);
    height: 100%;
    color: var(--color-letras-blanco);
}

/*--HEADER--*/
header{
    width: 100%;
}

.github img{
    margin-top: 5px;
    margin-left: 10px;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 0;
    left: 0;
}


.fecha-y-hora{
    margin-right: 0;
    text-align: right;
    margin-top: 12px;
    margin-right: 10px;
    font-size: 1.4rem;
    color: #D6CFCF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.frase-container{
    margin-top: 0px;
    margin-right: 5%;
    margin-left: 5%;
}

#titulo{
    text-align: center;
    font-size: 3.6rem;
    font-weight: normal;
    margin-top: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#frase{
    font-size: 1.6rem;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#autor{
    text-align: center;
    font-size: 1.2rem;
    color: #D6CFCF;
    font-style: italic;
    padding-top: 1px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*--MAIN--*/

.fondo-oscuro2{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 40%;
    z-index: 1;
}

main{
    width: 100%;
}

.alerta{
    
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.alerta-container{
    width: 320px;
    text-align: center;
    height: 130px;
    background-color: #292828;
    color: var(--color-letras-negro);
    font-size: 1.5rem;
    z-index: 3;
    border-radius: 25px;
    position: absolute;
    display: none;
    top: 25%;
}

.alerta-atencion-container{
    padding-top: 5px;
}
.alerta-atencion-container hr{
    border:1px solid rgba(245, 245, 245, 0.192);
    margin-top: 4px;
}
.alerta-atencion{
    color: var(--color-letras-blanco);
    display: inline-block;
    font-weight: normal;
    
}

.alerta-texto{
    display: block;
    margin-top: 7px;
    margin-right: 2px;
    margin-left: 2px;
    color: var(--color-letras-blanco);
}

.cancelar{
    margin-top: 10px;
    display: inline-block;
    margin-right: 32px;
    background-color:#796f6f;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 89px;
    cursor: pointer;
    color: #dddcdc;
}

.cancelar:hover{
    background-color:#7e7979;
}

.aceptar{
    margin-top: 10px;
    display: inline-block;
    background-color:#796f6f;
    padding: 4px;
    width: 89px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: #dddcdc;
}

.aceptar:hover{
    background-color:#7e7979;
}




/*--CRONOMETRO--*/
.cronometro-container{
    background-color: var(--color-letras-blanco);
    color: var(--color-letras-negro);
    width: 320px;
    height: 110px;
    border-radius: 40px;
    margin: 16px auto;
    display: flex;
    position: relative;
    justify-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.cronometro-container p{
    font-size: 5rem;
    text-align: center;
    display: inline-block;
    position: absolute;
    left:25%;
    right: 25%;
    bottom: 25%;
}
#tarea-seleccionada{
    bottom: 15px;
    font-size: 1.2rem;
    color: #A39F9F;
}


#flecha-derecha{
    position: absolute;
    align-self: center;
    right: 20px;
    width: 24px;
    height: 24px;
    z-index: 1;
    cursor: pointer;
    
}
#flecha-izquierda{
    transform: scaleX(-1);
    position: absolute;
    align-self: center;
    right: 21px;
    width: 24px;
    height: 24px;
    z-index: 1;
    display: none;
    cursor: pointer;
}

#cancel{
    transform: scaleX(-1);
    position: absolute;
    align-self: center;
    right: 21px;
    width: 24px;
    height: 24px;
    z-index: 1;
    display: none;
    cursor: pointer;
}


#circulo{
    background:#7CF288;
    height:33px;
   width:33px;
   -moz-border-radius:32px;
   -webkit-border-radius:32px;
   border-radius:32px;
   position: absolute;
    align-self: center;
    right: 16px;
    opacity: 40%;
}


#circulo2{
    height:33px;
   width:33px;
   background: #6f97e6;
   -moz-border-radius:32px;
   -webkit-border-radius:32px;
   border-radius:32px;
   position: absolute;
    align-self: center;
    right: 16px;
    opacity: 40%;
    display: none;
}

#circulo3{
    height:33px;
   width:33px;
   background: #e03e3e;
   -moz-border-radius:32px;
   -webkit-border-radius:32px;
   border-radius:32px;
   position: absolute;
    align-self: center;
    right: 16px;
    opacity: 40%;
    display: none;
}




.botones-container{
    text-align: center;
}
#boton1{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-right: 5px;
    display: none;
    background-color: #BDD1F8;
    cursor: pointer;
}

#boton1:hover{
    background-color: #9ab0dd;
}

#boton2{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    cursor: pointer;
    display: none;
    background-color: #abe9b1;
    cursor: pointer;
}

#boton2:hover{
    background-color: #95c599;
}

#boton3{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-left: 5px;
    background-color: var(--color-letras-blanco);
    cursor: pointer;
    display: none;
}

#boton3:hover{
    background-color: #d4d3d3;
}

#boton4{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-left: 5px;
    display: none;
    background-color: #FAB3B3;
    cursor: pointer;
}

#boton4:hover{
    background-color: #d69191;
}

#boton5{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-left: 5px;
    display: none;
    background-color: #F1D99A;
    cursor: pointer;
    margin-top: 15px;
}

#boton5:hover{
    background-color: #dac388;
}

#boton6{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-left: 5px;
    display: none;
    background-color: #dee06a;
    cursor: pointer;
}

#boton6:hover{
    background-color: #cecf72;
}

#boton7{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-left: 5px;
    background-color: rgb(212, 190, 233);
    cursor: pointer;
    display: none;
    margin: 0 auto;
}

#boton7:hover{
    background-color: rgb(191, 161, 219);
}

/*--TAREAS--*/

.tareas-container{
    background-color: var(--color-letras-blanco);
    width: 320px;
    height: fit-content;
    border-radius: 15px;
    margin: 16px auto;
    text-align: start;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}


.tareas-container p{
    font-size: 1.6rem;
    color: var(--color-letras-negro);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    position: relative;
    
}

#texto-agregar-tareas{
    font-size: 1.4rem;
    position: absolute;
    right: 35px;
    color: black;
    opacity: 50%;
    top: 10px;
}

#down{
    background-image: url('../media/icons/down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 56px;
    top: 7px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#add-task{
    background-image: url('../media/icons/add-task.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.input-tarea-container{
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    height: 30px;
    align-content: center;
    background-color: var(--color-letras-blanco);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#tarea-1-container,#tarea-2-container,#tarea-3-container{
    display: none;
}



.icono{
    background-image: url('../media/icons/pin.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    margin-left:8px;
    margin-top: 2px;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transform: rotate(270deg);
}

.input-tarea{
    background:transparent;
    border: none;
    outline: none;
    margin-top: 8px;
    margin-left: 35px;
    width: 190px;
    
    
}

.delete{
    background-image: url('../media/icons/delete.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    position: absolute;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    right: 70px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}


.menos{
    background-image: url('../media/icons/minus-circle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    position: absolute;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    right: 44px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#numero-tarea-1, #numero-tarea-2,#numero-tarea-3{
    position: absolute;
    font-size: 1.8rem;
    margin-top: 5px;
    right: 31px;
    color: var(--color-letras-negro);
}

.mas{
    background-image: url('../media/icons/plus-circle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    position: absolute;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    right: 4px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
main{
    margin-bottom: 50px;
}


/*Contenedor de la imagen del signo de pregunta y el circulo*/
/*
para centrarlo use display flex y justify content center
position absolute en los items para que se sobrepongan entre si
*/
.question-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 28px;
    justify-content: center;
}


.question{
    background-image: url('../media/icons/question.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 28px;
    height: 28px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    margin-top: 1px;
}

.circulo-question{
    background:var(--color-letras-blanco);
    height:27px;
    width:27px;
   -moz-border-radius:32px;
   -webkit-border-radius:32px;
   border-radius:32px;
   position: absolute;
}


.tecnica-container,.info-container{
    position: relative;
    display: flex;
    justify-content: center;
}


.tecnica-container .tecnica{
    margin-top: 10px;
    color: var(--color-letras-negro);
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
    padding:10px;
    background-color: var(--color-letras-blanco);
    border-radius: 20px;
    width: fit-content;
    display: none;
}





.info-container .info1{
    margin-top: 10px;
    color: var(--color-letras-negro);
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
    padding:10px;
    background-color: var(--color-letras-blanco);
    border-radius: 20px;
    display: block;
    position: static;
    display: none;
    margin-bottom: 15px;
}
/*FOOTER*/


/* footer{
    width: auto;
    height: auto;
    bottom: 0;
    Colocar el footer abajo de todo!!

    position: static;
    display: block;
}

.footer-container{
    position: static;
    display: block;
}
 */





@media screen and (min-width: 680px){

    /*HEADER*/

    .github img{
        margin-top: 8px;
        margin-left: 10px;
        height: 28px;
        width: 28px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .fecha-y-hora{
        font-size: 1.8rem;
    }

    #titulo{
        font-size: 6rem;
    }

    #frase{
        font-size: 2.2rem;
        margin-left: 25%;
        margin-right: 25%;
    }

    #autor{
        font-size: 1.6rem;
    }

    /*MAIN*/

    .alerta-container{
        width: 500px;
        height: 160px;
        top: 32%;
    }

    .alerta-atencion{
        font-size: 2.4rem;
    }

    .alerta-texto{
        font-size: 2rem;
    }
    .cancelar,.aceptar{
        font-size: 2rem;
    }
    .cancelar{
        padding-left: 2.8px;
    }

    .cronometro-container{
        width: 500px;
        height: 160px;
    }

    #tiempo{
        font-size: 7rem;
    }
    
    #tarea-seleccionada{
        font-size: 2.2rem;
    }
    
    #flecha-derecha,#flecha-izquierda,#cancel{
        width: 40px;
        height: 40px;
    }
    
    #circulo,#circulo2,#circulo3{
        width: 49px;
        height: 49px;
    }

    /*BOTONES*/

    #boton1,#boton2,#boton3,#boton4,#boton5,#boton6,#boton7{
        width: 110px;
        font-size: 1.8rem;
    }

    /*TAREAS*/
    .tareas-container{
        width: 450px;
    }
    .tareas-container p{
        font-size: 2.2rem;
    }
    #texto-agregar-tareas{
        font-size: 1.8rem;
        right: 45px;
    }

    #down{
        width: 30px;
        height: 30px;
        bottom: 9px;
        left: 75px;
    }

    #add-task{
        width: 32px;
        height: 32px;
        bottom: 7px;
    }

    .input-tarea-container{
        height: 45px;
    }
    .input-tarea{
        font-size: 1.8rem;
        margin-top: 10px;
        width: 290px;
    }
    .icono{
        margin-top: 5px;
        margin-left: 4px;
        width: 30px;
        height: 30px;
    }
    .mas{
        width: 32px;
        height: 32px;
        margin-top: 5px;
    }

    #numero-tarea-1, #numero-tarea-2,#numero-tarea-3{
        font-size: 2.6rem;
        margin-top: 5px;
        right: 40px;
    }

    .delete{
        width: 32px;
        height: 32px;
        margin-top: 5px;
        right: 94px;
    }

    .delete:hover{
        background-color: rgb(236, 117, 117);
        border-radius: 15px;
    }

    .menos{
        width: 32px;
        height: 32px;
        margin-top: 5px;
        right: 57px;
    }

    
    .question{
        width: 36px;
        height: 36px;
        margin-top: 1px;
        margin-right: 1px;
    }
    
    .circulo-question{
        height:35px;
        width:35px;
    }
      



    .tecnica-container .tecnica{
        font-size: 1.5rem;
        font-weight: normal;
        
    }
    
    

    
    
    .info-container .info1{
        font-size: 1.5rem;
        font-weight: normal;
    }



    /*FOOTER*/

    /* .footer-container{
        height: 40px;
    }
    footer img{

        width: 28px;
        height: 28px;
        
    } */

}