/*PreWork*/
:root{
    --color-fondo:#5C89E0;
    --color-letras-blanco: #EFEFEF;
    --color-letras-negro: #393838;
    --color-boton-seleccionado:#CCD9F2;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto';
    background-color: var(--color-fondo);
    color: var(--color-letras-blanco);
}

/*--HEADER--*/
header{
    width: 100%;
}
.fecha-y-hora{
    margin-right: 0;
    text-align: right;
    margin-top: 12px;
    margin-right: 10px;
    font-size: 1.4rem;
    color: #D6CFCF;
}

.frase-container{
    margin-top: 0px;
    margin-right: 5%;
    margin-left: 5%;
}

#titulo{
    text-align: center;
    font-size: 3.6rem;
    font-weight: normal;
    margin-top: 20px;
}

#frase{
    font-size: 1.6rem;
    text-align: center;
}
#autor{
    text-align: center;
    font-size: 1.2rem;
    color: #D6CFCF;
    font-style: italic;
    padding-top: 1px;
}

/*--MAIN--*/

main{
    width: 100%;
}

.alerta{
    
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.alerta-container{
    width: 320px;
    text-align: center;
    height: 130px;
    background-color: var(--color-letras-blanco);
    color: var(--color-letras-negro);
    font-size: 1.5rem;
    z-index: 3;
    border-radius: 25px;
    position: absolute;
    display: none;
}

.alerta-atencion-container{
    padding-top: 5px;
}
.alerta-atencion{
    background-color: #F46767;
    display: inline-block;
    padding: 4px;
    border-radius: 32px;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.alerta-texto{
    display: block;
    margin-top: 7px;
    margin-right: 2px;
    margin-left: 2px;
}

.cancelar{
    margin-top: 10px;
    display: inline-block;
    margin-right: 32px;
    background-color:#DCDCDD;
    padding: 9px;
    border-radius: 32px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 89px;
}

.aceptar{
    margin-top: 10px;
    display: inline-block;
    background-color:#DCDCDD;
    padding: 9px;
    width: 89px;
    border-radius: 32px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}




/*--CRONOMETRO--*/
.cronometro-container{
    background-color: var(--color-letras-blanco);
    color: var(--color-letras-negro);
    width: 320px;
    height: 110px;
    border-radius: 40px;
    margin: 16px auto;
    display: flex;
    position: relative;
    justify-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.cronometro-container p{
    font-size: 5rem;
    text-align: center;
    display: inline-block;
    position: absolute;
    left:25%;
    right: 25%;
    bottom: 25%;
}
#tarea-seleccionada{
    bottom: 15px;
    font-size: 1.2rem;
    color: #A39F9F;
}
#flecha-derecha{
    position: absolute;
    align-self: center;
    right: 20px;
    width: 24px;
    height: 24px;
    z-index: 1;
    
}
#flecha-izquierda{
    transform: scaleX(-1);
    position: absolute;
    align-self: center;
    right: 21px;
    width: 24px;
    height: 24px;
    z-index: 1;
    display: none;
}


#circulo{
    height:33px;
   width:33px;
   background:#7CF288;
   -moz-border-radius:32px;
   -webkit-border-radius:32px;
   border-radius:32px;
   position: absolute;
    align-self: center;
    right: 16px;
    opacity: 33%;
}

#circulo2{
    height:33px;
   width:33px;
   background: #6f97e6;
   -moz-border-radius:32px;
   -webkit-border-radius:32px;
   border-radius:32px;
   position: absolute;
    align-self: center;
    right: 16px;
    opacity: 33%;
    display: none;
}

.botones-container{
    text-align: center;
}
#boton1{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-right: 5px;
    display: none;
    background-color: #BDD1F8;
    cursor: pointer;
}

#boton2{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    cursor: pointer;
    display: none;
    background-color: #abe9b1;
    cursor: pointer;
}

#boton3{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-left: 5px;
    background-color: var(--color-letras-blanco);
    cursor: pointer;
    display: none;
}

#boton4{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-left: 5px;
    display: none;
    background-color: #FAB3B3;
    cursor: pointer;
}

#boton5{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-left: 5px;
    display: none;
    background-color: #F1D99A;
    cursor: pointer;
}

#boton6{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-left: 5px;
    display: none;
    background-color: #F2CD6C;
    cursor: pointer;
}

/*--TAREAS--*/

.tareas-container{
    background-color: var(--color-letras-blanco);
    width: 320px;
    height: 80px;
    border-radius: 15px;
    margin: 16px auto;
    text-align: start;
    position: relative;
}


.tareas-container p{
    font-size: 1.6rem;
    color: var(--color-letras-negro);
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

#texto-agregar-tareas{
    font-size: 1.4rem;
    position: absolute;
    right: 35px;
    color: black;
    opacity: 50%;
}

#add-task{
    background-image: url('../media/icons/add-task.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

.input-tarea-container{
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    height: 30px;
    align-content: center;
    background-color: var(--color-letras-blanco);
}

#tarea-1-container,#tarea-2-container,#tarea-3-container,#tarea-4-container{
    display: none;
}

.input-tarea-container .icono{
    background-image: url('../media/icons/add-task.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    margin-left:4px;
    margin-top: 2px;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

#play-1, #play-2, #play-3, #play-4{
    background-image: url('../media/icons/play.svg');
    display: block;
}

.input-tarea{
    background:transparent;
    border: none;
    outline: none;
    margin-top: 8px;
    margin-left: 35px;
    width: 215px;
    
    
}


.menos{
    background-image: url('../media/icons/minus-circle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    position: absolute;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    right: 44px;
    border: none;
    cursor: pointer;
}

#numero-tarea-1, #numero-tarea-2,#numero-tarea-3, #numero-tarea-4{
    position: absolute;
    font-size: 1.8rem;
    margin-top: 5px;
    right: 31px;
    color: var(--color-letras-negro);
}

.mas{
    background-image: url('../media/icons/plus-circle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    position: absolute;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    right: 4px;
    border: none;
    cursor: pointer;
}